
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}




body {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.navigation-list,
.advantages-list,
.footer-list,
.breadcrumbs,
.catalog-filter-list,
.hotel-list,
.pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-header{
  display: flex;
  width: 1060px;
  height: 70px;
  margin: 0 auto;
}


.page-logo {
  margin-right: 30px;
  z-index: 2;
}

.navigation {
  display: flex;
}

.navigation-item-counter {
  position: absolute;
  bottom: 51px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  background-image: url("../images/green-ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 345px;
}

.navigation-user {
  max-width: 264px;
}

.navigation-link {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
  margin-top: -5px;
  z-index: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.hero {
  margin-bottom: 69px;
  position: relative;
}

.hero-background {

  max-width: 100%;
  background-image: url("../images/welcome.svg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 51px 371px 82px;
  position: relative;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.advantages::before  {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url("../images/vector-bottom.svg");
  background-repeat: no-repeat;
  margin-top: -55px;
}

.advantages-header {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 79px;
}

.advantages-header > .advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.advantages-header > .advantages-discription {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}


.advantages-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  display: flex;
}

.advantages-item > .advantages-title,
.advantages-wrapper > .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title,
.advantages-number,
.advantages-description {
  margin: 0;
}

.advantages-description {
  align-self: center;
}

.advantages-wrapper {
  width: 400px;
}


.advantages-title,
.advantages-number,
.advantages-description {
  margin: 0;
}

.advantages-description {
  align-self: center;
}


/* INDEX SEARCH HOTELS */

.index-search-hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
}

 .search-title {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.search-description {
  margin-bottom: 54px;
  font-size: 22px;
  text-align: center;
}

.search-hotels-text-wrapper {
  width: 650px;
}

.index-search-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}



.newsletter1 {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/index-background-bottom.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  height: 411px;
}


.main-inner {
  color: #160d0d;
  background-color: #ffffff;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
}

.container {
  display: flex;



}
.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 28px;
}


.button-tile {
  background-color: #ffffff;
  background-image: url("../images/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.button-slideshow {
  background-color: #ffffff;
  background-image: url("../images/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.button-list {
  background-color: #ffffff;
  background-image: url("../images/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}




.hotel-card-title {
  font-size: 24px;
  line-height: 31.06px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 133px 165px;
  grid-template-rows: repeat(3, 37px);
}

.hotel-card-price {
  margin-left: 25px;
}

.hotel-card-button {
  color: #ffffff;
  background-color: #756257;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20.7px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 133px;
  padding: 10px 0;
  text-align: center;
  border-radius: 4px;
}

.hotel-card-button:hover {
  background-color: #615048;
}



.found {
  color: #000000;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  padding: 44px 72px 52px;
  }





.catalog {

  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 26px 72px 30px;
}

.inner-background {
  display: flex;
  background-color: #ffffff;

}

.buttons-show-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 26px 72px 30px;
}

.hotels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 345px;
  height: 438px;
  padding: 26px 72px 30px;
}

.hotel-card-stars {
  display: block;
  height: 17px;
  margin-top: 26px;
}

.hotel-card-rating {
  margin-top: 16px;
  justify-self: end;
}

.hotel-card-rating {
  color: #000000;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20.7px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  width: 160px;
  height: 18px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.pagination-pages-wrapper {
  display: flex;
  margin-left: 72px;
}

.pagination {
  display: flex;
  margin-right: 290px;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 25.88px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  min-height: 55px;
  margin-right: 8px;
  border-radius: 4px;
}

.newsletter {

  align-items: center;
  text-align: center;

}



.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 26px 72px 30px;
}
